@media (max-width: 1399px){

    /*---slider-section----*/
    .categories-slider.slider-section .slider__viewport{
        padding-left: 50px;
        padding-right: 10px;
    }
    .categories-slider.slider-section .tag{
        margin-right: 20px;
    }
    .slider__button--next{
        right: -4px;
    }
    .slider__button--prev{
        left: -4px;

    }

    /*-----hero-section----*/
    .hero-section .hero-content {
        padding: 110px 20px 120px 0;
        max-width: 645px;
    }


    /*----search-section---*/
    .search-section .city-list ul{
        column-count: 4;
    }
}



@media (max-width: 991px){
    /*----Common CSS---*/
    .heading h1{
        font-size: 34px;
        line-height: 38px;
    }
    .heading h2{
        font-size: 30px;
        line-height: 46px;
    }
    .heading h3{
        font-size: 22px;
        line-height: 30px;
    }

    header{
        min-height: 80px;
    }
    header .search-icon{
        margin-right: 0;
    }

    /*-----hero-section----*/
    .hero-section .hero-info{
        width: 100%;
      }
      .hero-section .hero-slider{
        width: 100%;
      }
    .hero-section .hero-content{
        padding: 60px 40px;
        max-width: 100%;
    }

    /*----categories-slider--*/
    .categories-slider.slider-section{
        min-height: 70px;
    }

    /*------industries-section------*/
    .industries-section{
        padding: 60px 0 120px;
        position: relative;
    }

    .industries-section .arrow-btn {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 60px;
    }
    .industries-section .industries-box img{
        height: 260px;
    }


    /*----testimonials-section ----*/
    .testimonials-section .testimonial-slider .carousel-inner{
        padding: 40px 0 50px ;
    }

    .social-section{
        padding: 170px 0 40px;
    }
    .social-section .border-btn{
        margin-bottom: 35px;
    }
    .social-section a img{
        width: 30px;
    }
    .social-section .copy-text{
        font-size: 16px;
        line-height: 18px;
        margin-top: 18px !important;
    }



    /*----page-banner-section---*/
    .page-banner-section{
        padding: 0 32px;
    }
    .page-banner-section .container:before{
        display: none;
    }
    .page-banner-section .page-banner-img{
        margin-top: 40px;
    }

    /*----search-section---*/
    .search-section h3{
        margin-bottom: 30px;
    }
    .search-section .city-list ul{
        column-count: 3;
    }
    .search-section .city-list ul li{
        margin-bottom: 2px;
    }
    .search-section .city-list ul li a{
        font-size: 20px;
        line-height: 42px;
    }
    .search-section .search-box input[type="text"]{
        height: 62px;
        font-size: 16px;
        padding: 14px 80px 14px 14px;
    }
    .search-section .serch-btn{
        padding: 10px 20px;
        font-size: 16px;
        line-height: 20px;
    }
    .search-section .serch-btn img{
        width: 14px;
        margin-right: 6px;
    }

    /*-----contractors-section----*/
    
    .contractors-section .contractors-box{
        padding: 30px 22px;
    }

    .location-time p{
      font-size: 16px;
    }

    

}


@media (max-width: 768px){
    .contractors-section .contractors-list{
        padding: 60px 0;
    }
    .contractors-section .contractors-box h3{
        margin-bottom: 10px !important;
    }
    .contractors-section .contractors-img{
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
    .contractors-section .contractors-info{
        width: calc(100% - 50px);
    }
    .contractors-section .contractors-img img{
        width: 20px;
        height: 20px;   
    }
    .contractors-section .contractors-review .green-box{
        padding: 7px 10px;
        font-size: 10px;
        line-height: 12px;
        justify-content: center;
        width: 50px;
        margin-left: auto;
    }
    .contractors-section .contractors-review .green-box img{
        padding: 0;
        width: 10px;
        height: 10px;
        margin-right: 4px;
    }
    .contractors-section .contractors-review p{
        font-size: 12px;
        padding-top: 4px;
        white-space: nowrap;
    }
    .contractors-section .location-time{
        flex-direction: column;
        padding-top: 30px !important;
    }
    .contractors-section .location-time div{
        position: relative;
        margin-bottom: 16px;
    }
    .contractors-section .location-time div img{
        position: absolute;
        left: -40px;
        width: 15px;
    }

}

@media (max-width: 575px){
    /*----Common CSS---*/
    body { 
        font-size: 14px;
    }
    .heading h1{
        font-size: 24px;
        line-height: 28px;
    }
    .heading h2{
        font-size: 20px;
        line-height: 46px;
    }
    .heading h3{
        font-size: 18px;
        line-height: 26px;
    }

    .fill-btn a{
        padding: 18px 40px;
        font-size: 14px;
        line-height: 16px;
    }

    /*-----header----*/
    header .container{
        padding: 20px 32px;
    }


    /*-----hero-section----*/
    .hero-section .hero-content{
        padding: 40px calc(32px - 0.75rem);
        max-width: 100%;
    }
    .hero-section .hero-content h1{
        margin-bottom: 18px;
    }
    .hero-section .hero-content h2{
        margin-bottom: 28px;
        font-size: 18px;
        line-height: 24px;
    }
    .hero-section .app-link{
        margin-top: 30px;
    }



    /*----select-categories---*/
    .select-categories{
        padding: 0 32px;
      }

    /*------industries-section------*/

    .industries-section{
        padding: 32px calc(32px - 0.75rem) 92px;
    }
    .industries-section .industries-bar{
        margin-bottom: 32px;
    }
    .industries-section .industries-box img{
        height: 175px;
    }
    .industries-section .arrow-btn {
        bottom: 32px;
    }
    .industries-section .industries-box img{
        height: 180px;
    }


    /*---testimonials-section---*/
    .testimonials-section .top-heading{
        padding: 32px 32px 20px; 
    }
    .testimonials-section .testimonial-content{
        padding: 42px calc(32px - 0.75rem) 32px;
    }
    .testimonials-section .heading h1{
        margin-bottom: 20px;
    }
    .testimonials-section .testimonial-content h2{
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 0px;
    }
    
    .testimonials-section .testimonial-content .author-name{
        font-size: 18px;
        line-height: 46px;
        margin-top: 25px;
    }

    /*-----dream-section----*/
    .dream-section{
        padding: 60px calc(32px - 0.75rem) 75px;
    }
    .dream-section .heading h1{
        margin-bottom: 22px;
    }
    .dream-section .heading h2{
        line-height: 32px;
        margin-bottom: 40px;
    }

    /*----breadcrumb-section---*/
    .breadcrumb-section{
        padding: 20px calc(32px - 0.75rem) 30px;
    }

    /*----page-banner-section---*/
    .page-banner-section .heading h2{
        margin-bottom: 0;
    }
    .page-banner-section .container{
        padding: 14px 30px 28px;
    }
    .page-banner-section .page-banner-img{
        margin-top: 15px;
    }

    /*----search-section---*/
    .search-section{
        padding: 20px calc(32px - 0.75rem) 70px;
    }
    .search-section .city-list ul{
        column-count: 1;
    }
    .search-section .city-list ul li a{
        font-size: 18px;
    }
    .search-section .serch-btn{
        padding: 7px 12px;
        font-size: 14px;
        line-height: 20px;
    }
    .search-section .serch-btn img{
        width: 12px;
        margin-right: 6px;
    }



    /*----contractors-section-----*/
    .contractors-section{
        padding: 0 calc(32px - 0.75rem);
    }
    .contractors-section .contractors-box{
        padding: 20px 12px;
    }
    .contractors-section .contractors-box h3{
        font-size: 15px;
        line-height: 20px;
    }
    .contractors-section .main-head .img-icon{
        width: 42px;
        height: 42px;
        margin-right: 15px;
    }

    .contractors-section .main-head .img-icon img{
        width: 15px;
    }
    .contractors-section .contractors-list{
        padding: 32px 0;
    }
    .contractors-section .contractors-content .heading p{
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 0px;
    }
    .location-time p{
      font-size: 14px;
    }
}
