---
import Cities from '../../data/Cities';
import Industries from '../../data/Industries';
import MySiteLayout from '../../layouts/SiteLayout.astro';
 const { category } = Astro.params;

export function getStaticPaths() {
  return  Industries.map(item=> {
        return {
            params: {
                category: item.name
            }
        }
    });
//   return [
//     // Generates: /dogs/clifford
//     {params: {dog: 'clifford'}},
//     // Generates: /dogs/rover
//     {params: {dog: 'rover'}},
//     // Generates: /dogs/spot
//     {params: {dog: 'spot'}},
//   ];
}
---

    <MySiteLayout>
    
        <section class="breadcrumb-section">
            <div class="container">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">HVAC Contractors</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Search</li>
                </ol>    
            </div>
        </section>


        <section class="page-banner-section">
            <div class="container d-flex flex-wrap flex-lg-nowrap justify-content-between align-items-center bg-light-blue">
                <div class="heading">
                    <h2 class="font-w-700">Find the Nearby area</h2>
                    <h3>Let’s make your search easier and useful</h3>
                </div>
                <div class="page-banner-img">
                    <div>
                        <img src="../../images/location-img.png" class="w-100">
                    </div>
                </div>
            </div>
        </section>



        <section class="search-section">
            <div class="container">
                <div class="search-box">
                    <form>
                        <input type="text" class="form-control" placeholder="Search city">
                        <button type="submit" class="serch-btn d-flex align-items-center"><img src="../../images/search-icon.svg">Find</button>
                    </form>
                </div>
                <div>
                    <div class="heading">
                        <h3 class="font-w-700">List of Cities</h3>
                    </div>
                    <div class="city-list">
                        <ul>
                        {Cities.map(item=> {
                            return (
                                <li><a href={`/${item.name}/${category}`}>{item.name}</a></li>
                            )
                        })}
                            

                        </ul>
                    </div>
                </div>
            </div>
        </section>
    
    </MySiteLayout>