---
import Industries from '../data/Industries';
// Example: src/pages/index.astro
import MySiteLayout from '../layouts/SiteLayout.astro';
import Categories from '../data/Categories';

---
<MySiteLayout>




        <section class="slider-section categories-slider">
            <div class="slider-container container p-0">
                <div id="slider-2" class="slider d-none d-lg-block">
                    <div class="slider__slides">
                    {Industries.map((item) => {
                        return (
                        <div class="slider__slide"  >
                           <a href={ item.name.split(" ").join("-").toLowerCase() + '-search'  } class="tag">{item.name}</a>
                        </div>
                        )
                    })}

                    </div>

                    <div class="slider__buttons">
                        <a href="#" class="slider__button--prev">
                          <i class="fa-solid fa-angle-left"></i>
                        </a>
                        <a href="#" class="slider__button--next">
                          <i class="fa-solid fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="select-categories d-lg-none d-flex align-items-center">
                    <button class="select-box d-flex align-items-center justify-content-between" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <span>Select Categories</span>
                        <i class="fa-solid fa-angle-down"></i>
                    </button>
                </div>
            </div>
        </section>

        <section class="hero-section bg-blue container-fluid">
            <div class="row">
                <div class="col-lg-6 hero-info">
                    <div class="hero-content">
                        <div class="heading">
                            <h1 class="white-text">List your Business Online.</h1>
                            <h2 class="white-text">ServiceFolder is the easiest way to start, run and grow your online business.</h2>
                        </div>
                        <div class="fill-btn">
                            <a href="#">Let’s Get Started with us</a>
                        </div>
                        <div class="app-link d-flex align-items-center">
                            <div class="white-text me-3">Also available on</div>
                            <div class="d-flex align-items-center">
                                <a href="#" class="me-2"><img src="../../images/play-store-icon.svg"></a>
                                <a href="#" class="ms-1"><img src="../../images/app-store-icon.svg"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 hero-slider p-0">
                    <div class="hero-review h-100 d-none d-lg-block">
                        <div id="carouselExampleIndicators" class="carousel slide h-100" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner h-100">
                                <div class="carousel-item h-100 active" style="background-image: url(images/slider-img-01.jpg);">
                                    <div class="review-box">  
                                      <div class="head white-text">Gold Cleaning Company</div>
                                      <div class="d-flex review-star mb-3">
                                          <div class="d-flex">
                                              <img src="../../images/star-yollow.svg">
                                              <img src="../../images/star-yollow.svg">
                                              <img src="../../images/star-yollow.svg">
                                              <img src="../../images/star-yollow.svg">
                                              <img src="../../images/star-yollow.svg">
                                          </div>
                                          <div class="white-text font-w-700 ps-4">5.0</div>
                                      </div>
                                      <div class="white-text total-review">45 reviews</div>   
                                    </div>
                                </div>
                                <div class="carousel-item h-100" style="background-image: url(images/slider-img-01.jpg);">
                                    <div class="review-box">  
                                      <div class="head white-text">Gold Cleaning Company 02</div>
                                      <div class="d-flex review-star mb-3">
                                          <div class="d-flex">
                                              <img src="../../images/star-yollow.svg">
                                              <img src="../../images/star-yollow.svg">
                                              <img src="../../images/star-yollow.svg">
                                              <img src="../../images/star-yollow.svg">
                                              <img src="../../images/star-yollow.svg">
                                          </div>
                                          <div class="white-text font-w-700 ps-4">5.0</div>
                                      </div>
                                      <div class="white-text total-review">45 reviews</div>   
                                    </div>
                                </div>
                                <div class="carousel-item h-100" style="background-image: url(images/slider-img-01.jpg);">
                                    <div class="review-box">  
                                      <div class="head white-text">Gold Cleaning Company 03</div>
                                      <div class="d-flex review-star mb-3">
                                          <div class="d-flex">
                                              <img src="../../images/star-yollow.svg">
                                              <img src="../../images/star-yollow.svg">
                                              <img src="../../images/star-yollow.svg">
                                              <img src="../../images/star-yollow.svg">
                                              <img src="../../images/star-yollow.svg">
                                          </div>
                                          <div class="white-text font-w-700 ps-4">5.0</div>
                                      </div>
                                      <div class="white-text total-review">45 reviews</div>   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="industries-section">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between industries-bar">
                    <div class="heading">
                        <h2 class="font-w-700">Industries</h2>
                    </div>
                    <div class="arrow-btn d-flex align-items-center">
                        <a href="#" class="d-flex align-items-center">View all <img src="../../images/black-arrow.svg" class="ps-2"></a>
                    </div>
                </div>
                <div class="slider-section industries-slider d-none d-lg-block">
                    <div class="slider-container container p-0">
                        <div id="slider-4" class="slider">
                            <div class="slider__slides">
                            {Industries.map(item=> {
                                return (
                                <div class="slider__slide">
                                   <a href={ item.name.split(" ").join("-").toLowerCase() + '-search'  } class="industries-box">
                                        <img src={item.image}>
                                        <div class="industries-text">{item.name}</div>
                                    </a>
                                </div>
                                )
                            })}

                                
                            </div>

                            <div class="slider__buttons">
                                <a href="#" class="slider__button--prev">
                                  <i class="fa-solid fa-angle-left"></i>
                                </a>
                                <a href="#" class="slider__button--next">
                                  <i class="fa-solid fa-angle-right"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row d-lg-none">
                    <div class="col-lg-3">
                        <div class="industries-box">
                            <img src="../../images/air-duct-cleaning.jpg">
                            <div class="industries-text">Air Duct Cleaning</div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="industries-box">
                            <img src="../../images/alarm-security.jpg">
                            <div class="industries-text">Alarm & Security</div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="industries-box">
                            <img src="../../images/appliance-repair.jpg">
                            <div class="industries-text">Appliance Repair</div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="industries-box">
                            <img src="../../images/computer-repair.jpg">
                            <div class="industries-text">Computer Repair</div>
                        </div>
                    </div>
                </div>

                
            </div>
        </section>


        <section class="testimonials-section">
            <div class="container top-heading">
                <div class="heading">
                    <h2 class="font-w-700">Testimonials</h2>
                </div>
            </div>

            <div class="bg-light-blue testimonial-content">
                <div class="container ">
                    <div class="heading">
                        <h1>“We love ServiceFolder.”</h1>
                        <h2>Okay, we wrote these testimonials on their behalf. But you get the idea.</h2>
                    </div>

                    <div class="testimonial-slider">
                        <div id="carouselExampleIndicators01" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="testimonial-box">  
                                      <h2 class="font-w-700">“This is the best Platform to list your business online and this will give you high quailty leads and list your company on a top level” 01</h2>
                                      <div class="author-name"><strong>Kartik,</strong> Himachal predesh</div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="testimonial-box">  
                                      <h2 class="font-w-700">“This is the best Platform to list your business online and this will give you high quailty leads and list your company on a top level” 02</h2>
                                      <div class="author-name"><strong>Kartik,</strong> Himachal predesh</div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="testimonial-box">  
                                      <h2 class="font-w-700">“This is the best Platform to list your business online and this will give you high quailty leads and list your company on a top level” 03</h2>
                                      <div class="author-name"><strong>Kartik,</strong> Himachal predesh</div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators01" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators01" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators01" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="dream-section bg-blue">
            <div class="circle d-none d-lg-block">
                <div class="shape-01"></div>
                <div class="shape-02"></div>
                <div class="shape-03"></div>
                <div class="shape-04"></div>
            </div>
            <div class="container text-center">
                <div class="heading">
                    <h1 class="white-text">Chase your dreams. Start your List your company on online store.</h1>
                    <h2 class="white-text">Take your business online with ServiceFolder. Get your free online store in 30 seconds.</h2>
                </div>
                <div class="fill-btn">
                    <a href="#">Let’s Get Started with us</a>
                </div>
            </div>
        </section>



        <!-- Modal -->
        <div class="modal fade categories-modal" id="exampleModal" tabindex={-1} aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header heading border-0">
                <h3 class="font-w-700">Categories</h3>
                <a href="#" class="close-btn" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></a>
              </div>
              <div class="modal-body border-0">
                <div class="form-check d-flex align-items-center justify-content-between flex-row-reverse">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        HVAC Contractors
                    </label>
                </div>

                <div class="form-check d-flex align-items-center justify-content-between flex-row-reverse">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault01">
                    <label class="form-check-label" for="flexCheckDefault01">
                        Alarm & Security
                    </label>
                </div>

                <div class="form-check d-flex align-items-center justify-content-between flex-row-reverse">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault02">
                    <label class="form-check-label" for="flexCheckDefault02">
                        Appliance Repair
                    </label>
                </div>

                <div class="form-check d-flex align-items-center justify-content-between flex-row-reverse">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault03">
                    <label class="form-check-label" for="flexCheckDefault03">
                        Carpet Cleaning
                    </label>
                </div>

                <div class="form-check d-flex align-items-center justify-content-between flex-row-reverse">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault04">
                    <label class="form-check-label" for="flexCheckDefault04">
                        Chimney Sweep
                    </label>
                </div>

                <div class="form-check d-flex align-items-center justify-content-between flex-row-reverse">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault05">
                    <label class="form-check-label" for="flexCheckDefault05">
                        Computer Repair
                    </label>
                </div>

                <div class="form-check d-flex align-items-center justify-content-between flex-row-reverse">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault06">
                    <label class="form-check-label" for="flexCheckDefault06">
                        Construction
                    </label>
                </div>

                <div class="form-check d-flex align-items-center justify-content-between flex-row-reverse">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault07">
                    <label class="form-check-label" for="flexCheckDefault07">
                        Appliance Repair
                    </label>
                </div>

                <div class="form-check d-flex align-items-center justify-content-between flex-row-reverse">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault08">
                    <label class="form-check-label" for="flexCheckDefault08">
                        Carpet Cleaning 
                    </label>
                </div>

                <div class="form-check d-flex align-items-center justify-content-between flex-row-reverse">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault09">
                    <label class="form-check-label" for="flexCheckDefault09">
                        Chimney Sweep
                    </label>
                </div>

                <div class="form-check d-flex align-items-center justify-content-between flex-row-reverse">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault10">
                    <label class="form-check-label" for="flexCheckDefault10">
                        Appliance Repair
                    </label>
                </div>

                <div class="form-check d-flex align-items-center justify-content-between flex-row-reverse">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault11">
                    <label class="form-check-label" for="flexCheckDefault11">
                        Carpet Cleaning
                    </label>
                </div>

                <div class="form-check d-flex align-items-center justify-content-between flex-row-reverse">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault12">
                    <label class="form-check-label" for="flexCheckDefault12">
                        Chimney Sweep
                    </label>
                </div>

                <div class="form-check d-flex align-items-center justify-content-between flex-row-reverse">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault13">
                    <label class="form-check-label" for="flexCheckDefault13">
                        Appliance Repair
                    </label>
                </div>

                <div class="form-check d-flex align-items-center justify-content-between flex-row-reverse">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault14">
                    <label class="form-check-label" for="flexCheckDefault14">
                        Carpet Cleaning
                    </label>
                </div>
                
                <div>
                    
                </div>
              </div>
              <div class="modal-footer border-0">
                <div class="fill-btn w-100 text-center m-0">
                    <a href="#" class="bg-blue white-text w-100" data-bs-dismiss="modal">Apply</a>
                </div>
              </div>
            </div>
          </div>
        </div>

</MySiteLayout>